@model _24DH112073_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">CHI TIẾT SẢN PHẨM</h2>

@Html.Partial("PVProductInfo", Model)

<div class="form-check-reverse">
    <div class="col-md-3 col-md-9">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
