/* Style cho phần BANNER */
.banner {
    background-image: url('../../images/banner.jpg'); /* Đảm bảo bạn có ảnh này */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.banner-container {
    text-align: center;
    color: white;
}

    .banner-container h2 {
        font-size: 2.5rem;
    }

    .banner-container p {
        font-size: 2rem;
    }

.btnBanner {
    display: inline-block;
    padding: 5px 20px;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Style cho phần SEARCH */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 500px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #555;
    }

.searchProd {
    text-align: center;
}

    .searchProd h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: brown;
    }

/* style của FEATURE PRODUCT */
.featureProd {
    text-align: left;
}

.feature-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.fproduct-item {
    width: 160px;
    max-height: 400px;
    margin: 10px;
    gap: 5px;
    border: 1px groove #808080;
    border-radius: 10px;
    flex: 0 0 auto; /* để các sản phẩm không co giãn */
    scroll-snap-align: start; /* để sản phẩm dừng lại ở đầu khi cuộn */
}

    .fproduct-item img {
        padding: 5px;
        max-height: 160px;
        vertical-align: central;
        background-color: transparent;
    }

/* style của LIST PRODUCT */
.listProduct {
    text-align: left;
}

.list-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Sửa lại 100px */
    gap: 20px;
    padding: 0;
    margin: 0;
}

.lproduct-item {
    max-height: 500px;
    border: 1px groove #808080;
    border-radius: 10px;
}

    .lproduct-item img {
        padding: 5px;
        max-height: 120px;
        background-color: transparent;
    }

/* các thuộc tính chung của FEATURE và NEW sản phẩm */
.featureProd h2, .listProduct h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: brown;
    text-align: center;
}

.prodPrice {
    font-size: large;
    color: blue;
    font-weight: bolder;
    padding: 0px 5px 0px 5px;
}

.prodName {
    color: black;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.prodCate {
    color: black;
    padding: 0px 5px 0px 5px;
}

.prodSale {
    font-size: small;
    color: dimgrey;
    padding: 0px 5px 0px 5px;
}

.pagination-container {
    text-align: center;
}
