@model _24DH112073_MyStore.Models.ViewModel.HomeProductVM

@{
    ViewBag.Title = "Customer Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sử dụng Layout gốc
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
}

@* PHẦN BANNER *@
<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang Web E-commerce</h2>
        <p>Mua sắm trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@* PHẦN TÌM KIẾM SẢN PHẨM *@
<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "search-input",
                placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
            })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }
</section>
<hr />

@* PHẦN SẢN PHẨM NỔI BẬT *@
@Html.Partial("_PVFeatureProduct", Model)

@* PHẦN SẢN PHẨM MỚI *@
@Html.Partial("_PVNewProduct", Model)