@model _24DH112073_MyStore.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">THÊM DANH MỤC</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* Nhúng Partial View vào form cha *@
        @Html.Partial("PVCreateEditCategory",Model)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
