@model _24DH112073_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">XOÁ DANH MỤC</h2>

@using (Html.BeginForm())
 {
        @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    <div class="form-group ">
        <div class="col-md-offset-2 col-md-10">
            <h4>Bạn thật sự muốn xoá danh mục này à?</h4>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Tên danh mục</div>
        <div class="col-md-10">
            @* Hiện thị giá trị của CategoryName *@
            @Html.DisplayFor(model => model.CategoryName)
        </div>

        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xoá" class="btn btn-primary" />
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
        }
