@model _24DH112073_MyStore.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc;

@if (Model.RelatedProducts != null && Model.RelatedProducts.Any())
{
    <section class="container-fluid featureProd">
        @* Tái sử dụng CSS từ trang Home *@
        <h4 style="font-weight:bold;">Sản phẩm tương tự</h4>
        <ul class="feature-container">
            @* Tái sử dụng CSS từ trang Home *@
            @foreach (var product in Model.RelatedProducts)
            {
                <li class="fproduct-item">
                    @* Tái sử dụng CSS từ trang Home *@
                    <div>
                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                            <img src="@Url.Content(product.ProductImage)" />
                        </a>
                    </div>
                    <div>
                        <h5 style="font-size:small;">@Html.DisplayFor(modelItem => product.ProductName)</h5>
                        <p class="prodSale">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
                    </div>
                </li>
            }
        </ul>
    </section>
}
